<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FoodMeets</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body class="font-mono bg-gray-400">
    <nav
      x-data="{show:false}"
      class="flex items-center justify-between flex-wrap bg-orange-600 p-6"
    >
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-semibold text-xl tracking-tight">FoodMeets</span>
      </div>
      <div class="block md:hidden">
        <button
          @click="show=!show"
          class="flex items-center px-3 py-2 border rounded text-gray-100 border-gray-200 hover:text-white hover:border-white"
        >
          <svg
            class="fill-current h-3 w-3"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div
        @click.away="show = false"
        :class="{ 'block': show, 'hidden': !show }"
        class="w-full block flex-grow md:flex md:justify-end md:w-auto"
      >
        <div>
          <a
            href="/trendingRecipes"
            class="block md:inline-block text-lg px-4 py-2 leading-none rounded text-white border-white hover:border-transparent hover:text-orange-500 hover:bg-white mt-4 md:mt-0"
            >Popular</a
          >
          <a
            href="/"
            class="block md:inline-block text-lg px-4 py-2 leading-none rounded text-orange border-white hover:border-transparent bg-white mt-4 md:mt-0"
            >Home</a
          >
        </div>
      </div>
    </nav>
    <div
      class="grid grid-flow-row gap-8 text-neutral-600 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
    >
      <% recipes.forEach(function(recipe){%>

      <div class="max-w-sm bg-white border rounded-lg ml-6 mt-5 mb-12 mr-6">
        <a href="/recipe/<%= recipe.id %>" class="cursor-pointer">
          <img
            class="rounded-t h-72 w-full object-cover"
            src="<%= recipe.image %>?auto=format&fit=crop&w=400&q=50"
            alt=""
          />
        </a>
        <div class="p-5">
          <a href="/recipe/<%= recipe.id %>" class="cursor-pointer">
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              <%= recipe.name %>
            </h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Ready In Minutes: <%= recipe.time %>
          </p>
          <a
            href="/recipe/<%= recipe.id %>"
            class="cursor-pointer inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Read more
            <svg
              aria-hidden="true"
              class="w-4 h-4 ml-2 -mr-1"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>
        </div>
      </div>
      <%});%>
    </div>
  </body>
</html>
